body {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    width: 500px;
    border: solid 2px;
}

.cards {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: solid 2px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}



.titulo {
    margin: 7px;
}

.lista {
    background-color: #000000;
    color: whitesmoke;
    padding: 10px;
}