html {
    background-color: hsla(327, 36%, 43%, 0.99);
}

body{
    background-color: chocolate;
    border: solid 5px;
}

.titulo{
    background-color: black;
    border: solid 4px whitesmoke;
    margin: 7px;
    color: aqua;
}

.lista{
    background-color: #000000;
    border-radius: 30px;
    color: whitesmoke;
    margin: 10px;
    padding: 30px ;
}